.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  margin-top: 1.5rem;
  margin-left: 15%;
  margin-right: 15%;
}

.flexItemLeft,
.flexItemRight {
  display: block;
  flex-basis: auto;
  align-self: auto;
  width: 48%;
}

@media screen and (max-width: 1200px) {
  .flexContainer {
    flex-direction: column;
  }

  .flexItemLeft {
    width: 100%;
  }

  .flexItemRight {
    margin-top: 1.5rem;
    width: 100%;
  }
}
