.searchForm {
  margin: 10px;
}

.searchIcon {
  margin: 15px 10px 10px 15px;
  position: absolute;
}

.searchInput {
  width: 100%;
  padding: 10px 40px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid black;
}

.clearIcon {
  margin: 13px 10px 10px -35px;
  position: absolute;
  font-size: 20px;
}

.clearIcon:hover {
  cursor: pointer;
}
