.login {
  width: 50%;
  max-width: 40rem;
  margin: 5rem auto;
  padding: 1rem 3rem 1rem;
  background: white;
}

.center_text {
  text-align: center;
}

.button {
  width: 100%;
}

.control input[type="text"],
.control input[type="password"] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.control label {
  font-weight: 600;
}

.marginTop20 {
  margin-top: 20px;
}
