.contactItem {
  display: flex;
  align-items: center;
  justify-content: left;
}

.contactItem:hover {
  background-color: rgba(0, 0, 0, 0.158);
  cursor: pointer;
}

.contactName {
  margin: 5px 0px 0px 0px;
  font-size: 19px;
}

.contactTitle {
  margin: 3px 0px 5px 0px;
  font-size: 75%;
  opacity: 0.7;
}

.isActive {
  background-color: rgba(0, 0, 0, 0.158);
}

.avatar {
  background-color: #8233ff;
  border-radius: 50%;
  color: white;
  height: 50px;
  width: 50px;
  line-height: 45px;
  margin: 15px 30px 15px 35px;
  position: relative;
  text-align: center;
}
