.actionsContainer {
  margin-top: 30px;
  margin-bottom: 25px;
}

.mainContainer {
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px 8px #d0d0d0;
  padding: 25px 60px 10px 60px;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.mainContainer > h3 {
  margin-top: 5rem;
  text-align: center;
  width: 100%;
}

.divider {
  margin: 12px 0px;
  border: 0;
  height: 0px;
}
