.actionsContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}

.rightActionItem {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.button {
  width: 100%;
  margin: 0px 10px;
}

