.user {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  background-color: #8f49ff;
  border-radius: 50%;
  color: white;
  float: left;
  height: 35px;
  width: 35px;
  line-height: 35px;
  margin: 3px 9px 3px 0;
  position: relative;
  text-align: center;
}

.name {
  padding-top: 5px;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

.signout {
  padding-left: 7px;
  font-size: 20px;
  color: #ffffff;
}

.signout:hover {
  cursor: pointer;
}
